@model Pizzeria.ViewModels.LoyaltyPointsViewModel

@{
    ViewData["Title"] = "Punkty lojalnościowe";
}

<h2>Punkty lojalnościowe</h2>
<hr />
<p>
    @Html.DisplayNameFor(x => x.LoyaltyPoints): @Html.DisplayFor(x => x.LoyaltyPoints).
</p>
<p>
    @Html.DisplayNameFor(x => x.MoneyPrize): @Html.DisplayFor(x => x.MoneyPrize).
</p>