@model Pizzeria.ViewModels.SelectPromotionViewModel

@{
    ViewData["Title"] = "Wybierz promocję";
}

<h2>Wybierz promocję</h2>

<form asp-action="SelectAdditionalComponents" method="get">
    @for (int i = 0; i < Model.PossiblePromotionList.Count(); i++)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (i == 0)
                {
                    <input name="selectedPromotionId" type="radio" value="@Model.PossiblePromotionList[i].PromotionId" checked />
                }
                else
                {
                    <input name="selectedPromotionId" type="radio" value="@Model.PossiblePromotionList[i].PromotionId" />
                }

                @Html.DisplayFor(x => x.PossiblePromotionList[i].PromotionShortDescription)

            </div>
        </div>
    }
    <input type="hidden" name="productId" value="@Model.ProductId" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dalej" class="btn btn-default" />
        </div>
    </div>
</form>