<form asp-controller="Order" asp-action="SelectAdditionalComponents" method="get">
    <input type="hidden" value="@ViewData["ProductName"]" name="ProductName" />
    <input type="hidden" value="@ViewData["ProductCategory"]" name="ProductCategory" />
    <input type="hidden" value="@ViewData["Price"]" name="Price" />
    <input type="submit" value="@ViewData["Price"] zł" class="btn btn-default" />
</form>